.users-list, .products-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.user-item, .product-item {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.product-item img {
    max-width: 100px;
    margin-bottom: 10px;
}

button {
    margin: 5px;
    padding: 5px 10px;
    background-color: #4f46e5;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #4338ca;
}

.content {
    margin-left: 290px;
    padding: 20px;
    width: calc(100% - 290px);
    transition: margin-left 0.4s ease, width 0.4s ease;
    background-color: #DFECDF;
}

.sidebar.collapsed~.content {
    margin-left: 100px;
    width: calc(100% - 100px);
}

@media (max-width: 1020px) {
    .content {
        margin-left: 0;
        width: auto;
        margin-top: 70px;
    }
}

.btnadd {
    background: #3D4A3D;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
}

.btnadd:hover {
    background: #103110;
}

.popup {
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

.close:hover {
    color: red;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}